{{#if login}}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Financial Ledger</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="/invoices" id="navbardrop" data-toggle="dropdown">
                    Invoice
                </a>
                <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="/invoices">Invoices List</a>
                    <a class="dropdown-item" href="/invoices/new">New Invoice</a>
                </div>
            </li>
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="/vendors" id="navbardrop" data-toggle="dropdown">
                    Vendor
                </a>
                <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="/vendors">Vendors List</a>
                    <a class="dropdown-item" href="/vendors/new">New Vendor</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-default my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>



<br>
<br>
{{/if}}