<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/dashboard" style="display: flex;">
        <i class="fab fa-amazon-pay" style="color:violet;"> <span class="btn btn-info" style="font-family:Helvetica;">
                Financial Ledger</span></i>
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle btn btn-success" href="/vendors" id="navbardrop"
                    data-toggle="dropdown" style="margin-right: 6px">
                    Vendor
                </a>
                <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="/vendors">List of Vendors</a>
                    <a class="dropdown-item" href="/vendors/new">New Vendor</a>
                    <a class="dropdown-item" href="/vendors/invoices">List of Invoices</a>
                    <a class="dropdown-item" href="/vendors/invoices/new">New Invoice</a>
                </div>
            </li>
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle btn btn-success" href="/customers" id="navbardrop"
                    data-toggle="dropdown" style="margin-right: 6px">
                    Customer
                </a>
                <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="/customers">List of Customers</a>
                    <a class="dropdown-item" href="/customers/new">New Customer</a>
                    <a class="dropdown-item" href="/customers/invoices">List of Invoices</a>
                    <a class="dropdown-item" href="/customers/invoices/new">New Invoice</a>
                </div>
            </li>
        </ul>

        <a href="/logout" class="btn btn-primary"><i class="fas fa-sign-out-alt"></i>
            Logout</a>

    </div>
</nav>



<br>
<br>