<div class="container"></div>
<h1 class="mt-4"><i class="fas fa-chart-line mr-2"></i>Dashboard</h1>

<p class="lead mb-3">Welcome {{name}}</p>

<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    {{#if isAdmin}}
    <p>Access Level: Admin</p>
    <li class="nav-item form-group">
        <a class="nav-link btn btn-secondary" href="/users/list"><i class="fas fa-address-card mr-2"></i>Users
            Management</a>
    </li>
    <li class="nav-item form-group">
        <a class="nav-link btn btn-secondary" href="/items"><i class="fas fa-database mr-2"></i>Items Management</a>
    </li>
    <li class="nav-item form-group">
        <a class="nav-link btn btn-secondary" href="/items/stock"><i class="fab fa-buromobelexperte mr-2"></i>Stock
            Management</a>
    </li>
    {{else}}
    <p>Access Level: Guest</p>
    {{/if}}
</ul>
{{> _messages}}
</div>