<h1>{{title}}</h1>
<br>
<table class="table" id="example">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
        <tr>
            <td>{{name}}</td>
            <td>
                <a href="/items/categories/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit" style="color:navy;"></i>
                </a>
            </td>
            <td>
                <form action="/items/categories/delete/{{_id}}/" method="GET">
                    <button type="submit" class="btn">
                        <i class="fas fa-trash" style="color: red"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br><br>
{{> _messages}}
<div class="fixed-action-btn">
    <a href="/items/categories/new" class="btn btn-primary">
        <i class="fas fa-plus"></i> New Category</a>
</div>